{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center text-success mb-4">Adoption Request Submitted Successfully!</h2>
    <p class="text-center text-muted mb-4">Thank you for your interest in adopting a puppy.</p>

    <h4 class="text-center text-primary">Contact Us using any of the Informations Bellow for Negotiations</h4>
    <div class="text-center mt-4">
        <p>
            <i class="fas fa-envelope text-primary"></i> 
            Email: <a href="mailto:your-email@example.com" class="text-primary">your-email@example.com</a>
        </p>
        <p>
            <i class="fab fa-whatsapp text-success"></i> 
            WhatsApp: <a href="https://wa.me/your-whatsapp-number" class="text-primary" target="_blank">Click here to chat on WhatsApp</a>
        </p>
        <p>
            <i class="fas fa-phone-alt text-danger"></i> 
            Phone: <a href="tel:+1234567890" class="text-primary">+123 456 7890</a>
        </p>
    </div>

    <h4 class="text-center text-primary mt-5">Payment Methods</h4>
    <div class="text-center mt-4">
        <!-- Payment Method Logos -->
        <div class="d-flex justify-content-center">
            <img src="{% static 'img/payments/paypal.jpg' %}" alt="PayPal" class="img-fluid mx-3" style="width: 100px; height: auto;">
            <img src="{% static 'img/payments/applepay.png' %}" alt="Apple Pay" class="img-fluid mx-3" style="width: 130px; height: auto;">
            <img src="{% static 'img/payments/cashapp.png' %}" alt="CashApp" class="img-fluid mx-3" style="width: 130px; height: auto;">
            <img src="{% static 'img/payments/zelle.png' %}" alt="Zelle" class="img-fluid mx-3" style="width: 100px; height: auto;">
            <img src="{% static 'img/payments/chime.png' %}" alt="Chime" class="img-fluid mx-3" style="width: 100px; height: auto;">
        </div>
    </div>
</div>
{% endblock %}
